@font-face {
	font-family: pier-regular;
  src: url(assets/pier-regular.otf);
}
@font-face {
	font-family: pier-bold;
  src: url(assets/pier-bold.otf);
}
@font-face {
	font-family: pier-italic;
  src: url(assets/pier-italic.otf);
}
@font-face {
	font-family: pier-bold-italic;
  src: url(assets/pier-bold-italic.otf);
}
@font-face {
	font-family: manifesto;
  src: url(assets/manifesto.ttf);
}